@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: hsl(0, 0%, 94%);
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    max-width: 50em;
    width: 50%;
    height: 35em;
    margin: 5em auto;
    padding: 3em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 150px;
}

.dataNascimento {
    display: flex;
    /* gap: 2em; */
    button {
        position: relative;
    top: 5.8em;
    left: 2em;
    width: 25%;
    padding: 1em;
    border-radius: 60%/60%;
    outline: none;
    background-color: hsl(259, 100%, 65%);
    border: 1px solid hsl(259, 100%, 65%);
    cursor: pointer;
    transition: .4s ease all;

        &:
    hover {
            background-color: black;
    color: #fff;
        }
    }
}

.inputData {
    label {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: 600;
        color: #7c7c7c;
    }

    input {
        outline: none;
        border: 1px solid hsl(0, 0%, 86%);
        width: 50%;
        padding: 0.2em 0.5em;
        border-radius: 5px;
        font-size: 32px;
        font-weight: bold;
    }

    input:focus {
        border: 2px slateblue solid;
    }

    input::placeholder {
        font-weight: 600;
        font-size: 32px;
        color: #7c7c7c;
    }
    
}
input:valid{
    border: 2px hsl(0, 0%, 86%) solid;
}
input:invalid{
    border: 2px rgb(209, 28, 28) solid;
}
hr {
    margin-top: 2em;
    color: rgb(215, 213, 213);
}

.resultadoIdade {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-top: 2em;

}

.resultado {
    font-size: 5em;
    font-weight: 600;
    font-style: italic;

    span {
        color: hsl(259, 100%, 65%);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 375px) {
    #app {
        width: 95vw;
        margin: 20% auto;
        padding: 0;

        div{
            padding: 0;
        }
    }

    .dataNascimento {
        margin: 0;
        padding: 0;
        gap: 0;
        margin-top: 1em;
        padding: 0.5em;

        .inputData {
            margin: 0;
            padding: 0;

            label {
                font-size: 10px;
            }

            input {
                padding: 0.3em;
                width: 80%;
                font-size: 22px;
            }

            input::placeholder {
                font-size: 12px;
                width: 100vw;
            }
        
        }
        
        button{
            position: absolute;
            top: 17em;
            left: 11.5em;
            width: 20%;
            height: 10%;
            border-radius: 60%/60%;

            img{
                width: 30px;
            }
        }
    }

    hr {
        width: 90%;
        margin: 5em auto 2em auto;
    }
    .resultadoIdade{
        margin: 1.5em;

        .resultado{
            font-size: 50px;
        }
    }

}